
*.class
/IA-stephen-conways-gol/nbproject/private/
/IA-stephen-conways-gol/dist/
/IA-stephen-conways/nbproject/private/
/IA-stephen-conways/dist/
/IA-stephen-conways-GoL/nbproject/private/
/IA-stephen-conways-GoL/dist/