
*.class

*.properties

*.xml

IA-stephen-conways-GoL/nbproject/private/private.properties

IA-stephen-conways-GoL/nbproject/private/private.xml
/IA-stephen-conways-GoL/build/
/IA-stephen-conways-GoL/dist/
/SlickTest/nbproject/private/
/SlickTest/build/
*.py
